<h1>Kontakt mig</h1>
<form>
  <div class="form-group">
    <label for="navn">Navn</label>
    <input type="text" class="form-control" id="navn" placeholder="Dit navn">
  </div>

  <div class="form-group">
    <label for="email">E-mail Adresse</label>
    <input type="email" class="form-control" id="email" placeholder="Din e-mail">
    <small id="emailHelp" class="form-text text-muted">Din e-mail bliver ikke delt med nogen.</small>
  </div>

  <div class="form-group">
    <label for="besked">Besked</label>
    <textarea class="form-control" id="besked" placeholder="Din besked"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send Besked</button>
</form>
